[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
numpy = "*"
pandas = "*"
keras = "*"
scikit-learn = "*"
matplotlib = "*"
tensorflow = "*"
optuna = "*"
flask = "*"
flask-cors = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.9"
