<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>

    <div class="container-fluid pt-5">
        <div class="row justify-content-center mt-5 pt-5">
            <div class="col-12 text-center">
                <h1>台積電股市預測</h1>
            </div>
            <div class="col-8">
                <canvas id="myChart" width="600" heigth='600' style="width: 800px!important;"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script>

        function render_chart(received_data) {
            // console.log(received_data['data']) 
            const ctx = document.getElementById('myChart');
            const data = [];
            const data2 = [];
            let prev = 100;
            let prev2 = 80;
            for (let i = 0; i < received_data[0].length; i++) {
                data.push({ x: i, y: received_data[0][i] });
                data2.push({ x: i, y: received_data[1][i] });
            }

            const totalDuration = 5000;
            const delayBetweenPoints = totalDuration / data.length;
            const previousY = (ctx) => ctx.index === 0 ? ctx.chart.scales.y.getPixelForValue(100) : ctx.chart.getDatasetMeta(ctx.datasetIndex).data[ctx.index - 1].getProps(['y'], true).y;
            const animation = {
                x: {
                    type: 'number',
                    easing: 'linear',
                    duration: delayBetweenPoints,
                    from: NaN, // the point is initially skipped
                    delay(ctx) {
                        if (ctx.type !== 'data' || ctx.xStarted) {
                            return 0;
                        }
                        ctx.xStarted = true;
                        return ctx.index * delayBetweenPoints;
                    }
                },
                y: {
                    type: 'number',
                    easing: 'linear',
                    duration: delayBetweenPoints,
                    from: previousY,
                    delay(ctx) {
                        if (ctx.type !== 'data' || ctx.yStarted) {
                            return 0;
                        }
                        ctx.yStarted = true;
                        return ctx.index * delayBetweenPoints;
                    }
                }
            };

            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [{
                        label:'predicted',
                        borderColor: 'rgb(255, 99, 132)',
                        borderWidth: 3,
                        radius: 0,
                        data: data,
                    },
                    {
                        label:'real-price',
                        borderColor: 'rgb(54, 162, 235)',
                        borderWidth: 3,
                        radius: 0,
                        data: data2,
                    }],
                    labels: received_data[2]
                },
                options: {
                    animation,
                    interaction: {
                        intersect: false
                    },
                    plugins: {
                        legend: false
                    },
                    scales: {
                        x: {
                            type: 'category',
                            labels: received_data[2]
                        },
                        y: {
                            title: {
                                display: true,
                                text: '股價'
                            }
                        }
                    }
                }
            });
        }
    </script>


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
        </script>
</body>

</html>